<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- MyBatis SqlSession 설정 -->
	<bean id="egov.sqlSession"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="egov.dataSource" />
		<property name="mapperLocations"
			value="classpath:/mapper/*.xml" /> <!-- 매퍼 위치 설정 -->
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="mapUnderscoreToCamelCase" value="true" /> <!--카멜케이스 설정 -->
			</bean>
		</property>
	</bean>

	<!-- EgovAbstractDAO, Mapper을 사용하기 위한 sqlsesson설정 --> <!-- Mybatis Session Template -->
	<!--실제로 DAO에서 쓰는 객체  -->
	<bean id="egov.sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="egov.sqlSession" />
	</bean>

	<!-- Mapper 자동 스캔후 생성 - 전통DAO 방식에서는 MAPPER를 쓰지 않음 -->
<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="wini.winitest.mapper" />
		<property name="sqlSessionFactoryBeanName"
			value="egov.sqlSessionFactory" />
	</bean> -->

</beans>