<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace = "XXXDAO" -> XXXDAO.java에서 "XXXDAO.{queryId}"로 호출
    모든 파라미터/결과는 Map 기반 사용 (vo 미사용)
-->
<mapper namespace="XXXDAO">
	
	<!-- 이미지 게시글 조회 -->
	<!-- **UserDAO.idCheck -->
	<select id="{queryId}" parameterType="map" resultType="map">
	</select>
</mapper>
